{% extends "accueil.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Les règles du séminaire</h1>
    <p class="lead">L'objectif de ce séminaire est que nous fassions tous connaissance, bien sûr, que nous vivions des moments qui fédèrent, dans le respect du rythme de chacun. On va aussi voir qui tient le plus l'alcool (c'est pas un concours même si certains s'en donneront à coeur joie !)</p>
    


    <h2>Règles principales</h2>
    <ul>
        <li>Point clé 1</li>
        <li>Point clé 2</li>
        <!-- ... -->
    </ul>



    <h2>Nos valeurs</h2>
    <img src="lien_vers_image1.jpg" alt="Description de l'image" class="img-fluid mb-3">
    <img src="lien_vers_image2.jpg" alt="Description de l'image" class="img-fluid mb-3">
    <!-- ... -->

    <h2>Conclusion</h2>
    <p>Conclusion du module 1...</p>
</div>
{% endblock %}
